/* Form{
    text-align: center;
    width: 323px;
    height:342px;
    top: 28px;
    left: 232px;
    border-radius:10px;
    background-color: #FFFFFF;
    padding: 3%;
    margin-left: 36%;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 75%);
  
    
   
  
  } */
  
  p.last-para {
    text-align: center;
  }
  
  h1 {
    color: cornflowerblue;
  }
  
  button {padding-top: 3px;width: 296px;color: #fff;
    background-color: #007bff;border-color: #007bff;font-weight: 400;
    border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;
    border-radius: .25rem;transition: .15s;cursor: pointer;}
  
  
  input[type="text"] {
    padding: 12px;
    margin: 15px;
  }
  /* .App{
    background: #E1F9F4;
    ;

  } */
