.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -80vh;
    margin-bottom: -6%;
    background-color: white;
    width: 72%;
    margin-left: 18rem;
    gap: 10px;
    box-shadow: 3px 2px 4px 6px whitesmoke;
    border-radius: 40px;
}

.select {
    /* background-color: skyblue; */
    border-radius: 50px;
    padding: 8px;
    border-left: 50%;
    border-left: 50%;
}

.num-ord {
    border-radius: 50%;
    padding: 3px;
    background-color: white;
}

.num-ord1 {
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(212, 229, 236);
    margin-right: 6px;
}

.select1 {
    margin-top: 1%;
    margin-left: 20px;
}